<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" required minlength="6"
          #newPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="newPassword.errors && f.submitted">
          <div *ngIf="newPassword.errors['required']">Password is required</div>
          <div *ngIf="newPassword.errors['minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Change password</button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && hasErrors">
          Could not change password: {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <div class="alert alert-success" role="alert" *ngIf="f.submitted && isSuccess">
          Password changed successful, opening login page.
        </div>
      </div>
    </form>
  </div>
</div>