<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">email is required</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Request password reset email
        </button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && hasErrors">
          Failed to send password reset email: {{ errorMessage }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="f.submitted && isSuccess">
          <p>If you have registered an account with this email address, you should receive a password reset email in your inbox in a few seconds or minutes.</p>
          <p>Please click the link in the email and enter a new password when prompted.</p>
        </div>
      </div>
    </form>
  </div>
</div>